<div class="card">
<h2>{{title}}</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam velit dolorem culpa excepturi praesentium ipsa perspiciatis hic recusandae earum officiis, voluptate, est cum, laudantium quam corporis maxime labore vel maiores?
Odio fuga repudiandae in! Laborum molestiae aliquid natus quam eveniet pariatur quae. Cupiditate eaque error earum consequuntur tempore vel deserunt id est aliquam repudiandae aliquid sequi soluta quas, expedita minus?</p>
<p>{{getInfo()}}</p>
</div>